<div class="tasks-container">
  <div class="buttons-container">
    <button mat-raised-button (click)="openDialogAddTask('0ms', '0ms')">
      <mat-icon fontIcon="add"></mat-icon>
    </button>
    <button mat-raised-button (click)="openDialogBin('0ms', '0ms')">
      <mat-icon fontIcon="restore_from_trash"></mat-icon>
    </button>
  </div>

  @for (task of tasks; track task.id) {
  <app-task
    [title]="task.title"
    [describe]="task.description"
    [completed]="task.completed"
    (deleteTask)="deleteTask(task)"
  ></app-task>
  }
</div>
